.container{
   background-color:#f2f2f2;
   padding: 20px;
   margin: 0 auto;
}
@media (max-width:768px) {
    .container{
    width:100%;
    }
}
@media  (min-width:768px) {
    .container{
    width: 50%;
    }
}